html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}

body {
  width: 144rem;
}

.dashboard-6oo {
  width: 105.5%;
  height: 110rem;
  position: relative;
  overflow: hidden;
  background-color: #f5f4f4;
}

.dashboard-6oo .my-projects-si5 {
  width: 100%;
  height: 7.7rem;
  position: absolute;
  left: 29.3rem;
  top: 7.6rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.9180000305;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
}

.dashboard-6oo .my-projects-GkD {
  width: 24.1rem;
  height: 7.7rem;
  position: absolute;
  left: 29.3rem;
  top: 7.6rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.9180000305;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
}

/* <!-- Card section --> */

.dashboard-6oo .bg-MWm {
  box-sizing: border-box;
  padding: 1.4rem 2.2rem 0.4rem 2.2rem;
  width: 40.4rem;
  height: 26.5rem;
  position: absolute;
  left: 29.3rem;
  top: 17.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem;
}

.dashboard-6oo .bg-MWm .bg-L1K {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 6.4rem 15.3rem 6.3rem 15.4rem;
  width: 100%;
  background-color: rgba(249, 120, 47, 0.400000006);
  border-radius: 1rem;
  flex-shrink: 0;
}

.dashboard-6oo .bg-MWm .bg-L1K .addplusnewcreatecontrolicon-1-AW9 {
  width: 5.3rem;
  height: 5.3rem;
  object-fit: contain;
  vertical-align: top;
}

.dashboard-6oo .bg-MWm .create-a-new-project-dPj {
  margin: 0rem 0rem 0.2rem 0.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.9179999828;
  letter-spacing: 0.032rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.dashboard-6oo .bg-MWm .or-try-a-sample-project-VRw {
  margin-left: 0.1rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.9179999034;
  letter-spacing: 0.024rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}

.dashboard-6oo .bg-MWm .or-try-a-sample-project-VRw .or-try-a-sample-project-VRw-sub-1 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.9179999034;
  letter-spacing: 0.024rem;
  color: #f9782f;
  font-family: Work Sans, 'Source Sans Pro';
}
.card_row{
  display: flex;
}

/* <!-- sidebar section --> */


.dashboard-6oo .bg-k8u {
  width: 24.1rem;
  height: 110rem;
  position: absolute;
  left: 0;
  top: 0rem;
  background-color: #ffffff;
}

.dashboard-6oo .line-fmf {
  width: 20.3rem;
  height: 0.1rem;
  position: absolute;
  left: 1.9rem;
  top: 7.2rem;
  object-fit: contain;
  vertical-align: top;
}

.dashboard-6oo .line-ynM {
  width: 20.3rem;
  height: 0.1rem;
  position: absolute;
  left: 1.9rem;
  top: 21.2rem;
  object-fit: contain;
  vertical-align: top;
}

.dashboard-6oo .frame-89-gRs {
  box-sizing: border-box;
  padding: 0.05rem 0rem 0.05rem 0.467rem;
  width: 11.9rem;
  height: 2.8rem;
  position: absolute;
  left: 3.2rem;
  top: 10.1rem;
  display: flex;
  align-items: center;
}

.dashboard-6oo .frame-89-gRs .bxscoinstackicon-1-xPP {
  margin-right: 1.0667rem;
  width: 1.8667rem;
  height: 2.3333rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.dashboard-6oo .frame-89-gRs .my-projects-sWM {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.9179999488;
  letter-spacing: 0.028rem;
  color: #f9782f;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.dashboard-6oo .frame-88-16m {
  width: 15.1rem;
  height: 2.7rem;
  position: absolute;
  left: 3.2rem;
  top: 15.7rem;
  display: flex;
  align-items: center;
}

.dashboard-6oo .frame-88-16m .group-4-j2m {
  margin-right: 1rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.dashboard-6oo .frame-88-16m .sample-projects-4aq {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.9179999488;
  letter-spacing: 0.028rem;
  color: #c4c4c4;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.dashboard-6oo .group-9-oHX {
  width: 14.4rem;
  height: 2.7rem;
  position: absolute;
  left: 3.2rem;
  top: 29.7rem;
  display: flex;
  align-items: center;
}

.dashboard-6oo .group-9-oHX .multimediamusicplayplayervideoicon-1-XzD {
  margin: 0rem 1.394rem 0rem 0rem;
  width: 2.3065rem;
  height: 2.3065rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.dashboard-6oo .group-9-oHX .intro-to-necleo-Rph {
  font-size: 1.3839rem;
  font-weight: 600;
  line-height: 1.9179999253;
  letter-spacing: 0.0277rem;
  color: #c4c4c4;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.dashboard-6oo .frame-91-vmT {
  box-sizing: border-box;
  padding: 0.05rem 0rem 0.05rem 0.175rem;
  width: 14.7rem;
  height: 2.8rem;
  position: absolute;
  left: 3.2rem;
  top: 93.3rem;
  display: flex;
  align-items: center;
}

.dashboard-6oo .frame-91-vmT .helpcircledicon-1-EGM {
  margin-right: 1.175rem;
  width: 2.45rem;
  height: 2.45rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.dashboard-6oo .frame-91-vmT .help-support-xTF {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.9179999488;
  letter-spacing: 0.028rem;
  color: #c4c4c4;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.dashboard-6oo .frame-92-tbo {
  width: 10.7rem;
  height: 2.8rem;
  position: absolute;
  left: 3.2rem;
  top: 98.9rem;
  display: flex;
  align-items: center;
}

.dashboard-6oo .frame-92-tbo .feedbackicicon-1-1-R5w {
  margin-right: 1rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.dashboard-6oo .frame-92-tbo .feedback-Lyb {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.9179999488;
  letter-spacing: 0.028rem;
  color: #c4c4c4;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.dashboard-6oo .frame-93-4eh {
  box-sizing: border-box;
  padding: 0.05rem 0rem 0.05rem 0.28rem;
  width: 10rem;
  height: 2.8rem;
  position: absolute;
  left: 3.2rem;
  top: 104.5rem;
  display: flex;
  align-items: center;
}

.dashboard-6oo .frame-93-4eh .icfluentpanelrightexpandicon-1-xk5 {
  margin: 0rem 1.28rem 0rem 0rem;
  width: 2.24rem;
  height: 1.68rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.dashboard-6oo .frame-93-4eh .collapse-dbK {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.9179999488;
  letter-spacing: 0.028rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.dashboard-6oo .group-5-mBj {
  width: 7.6114rem;
  height: 2.7rem;
  position: absolute;
  left: 8.2rem;
  top: 1.6rem;
  object-fit: contain;
  vertical-align: top;
}

.dashboard-6oo .frame-87-VNd {
  box-sizing: border-box;
  padding: 0.05rem 0rem 0.05rem 0.35rem;
  width: 7.4rem;
  height: 2.8rem;
  position: absolute;
  left: 3.2rem;
  top: 24.1rem;
  display: flex;
  align-items: center;
}

.dashboard-6oo .frame-87-VNd .icfluentappsregularicon-1-zaH {
  margin: 0rem 1.195rem 0.155rem 0rem;
  width: 2.2552rem;
  height: 2.255rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.dashboard-6oo .frame-87-VNd .apps-797 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.9179999488;
  letter-spacing: 0.028rem;
  color: #c4c4c4;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.dashboard-6oo .bg-FFK {
  width: 119.9rem;
  height: 5.8rem;
  position: absolute;
  left: 24.1rem;
  top: 0;
  background-color: #ffffff;
}

.dashboard-6oo .bg-zCu {
  width: 105.5%;
  height: 5.8rem;
  position: absolute;
  left: 24.1rem;
  top: 0;
  background-color: #ffffff;
}

/* <!-- Navbar section --> */

.dashboard-6oo .frame-90-XyX {
  width: 21.4rem;
  height: 3.65rem;
  position: absolute;
  left: 119.4rem;
  top: 1.05rem;
  display: flex;
  align-items: center;

}

.dashboard-6oo .frame-90-XyX .frame-82-rku {
  margin-right: 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.dashboard-6oo .frame-90-XyX .frame-82-rku .frame-81-BoB {
  margin-right: 1.4rem;
  width: 14rem;
  height: 100%;
  flex-shrink: 0;
}

.dashboard-6oo .frame-90-XyX .frame-82-rku .frame-81-BoB .frame-1-KPb {
  margin-bottom: 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.dashboard-6oo .frame-90-XyX .frame-82-rku .frame-81-BoB .frame-1-KPb .free-trial-sg1 {
  margin-right: 1rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.dashboard-6oo .frame-90-XyX .frame-82-rku .frame-81-BoB .frame-1-KPb .item--6hB {
  margin-right: 1.1rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1725;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.dashboard-6oo .frame-90-XyX .frame-82-rku .frame-81-BoB .frame-1-KPb .days-left-DG1 {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.01rem;
  color: #000000;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.dashboard-6oo .frame-90-XyX .frame-82-rku .frame-81-BoB .extend-free-trail-XGh {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1725;
  letter-spacing: 0.01rem;
  color: #f9782f;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
}

.dashboard-6oo .frame-90-XyX .frame-82-rku .ellipse-1-SHB {
  margin-top: 0.05rem;
  width: 3.6rem;
  height: 3.6rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../src/assets/ellipse-1-bg.png');
  border-radius: 1.8rem;
  flex-shrink: 0;
}

.dashboard-6oo .frame-90-XyX .page-1-7u7 {
  margin-top: 0.05rem;
  width: 1.2rem;
  height: 0.6rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.1rem;
  flex-shrink: 0;
}







